body{
    margin-top: -20px;
    margin-left: -10px;
    font-family: 'Raleway', sans-serif;
     padding: 0; box-sizing: border-box;
    background-image: url(image/new.png);
    background-repeat: no-repeat;
    background-size:1500px 1000px;
    background-position: top;
}
.first-line ul{
    width: 100%;
    background-color: #483D8B;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}
.first-line ul li{
    list-style-type: none;
   display: inline;
   padding-left: 10px;
   padding-right: 70px;
}
.first-line a{
    color: white;
    font-weight: 700;
}
.second-line{

    margin-top: -15px;
    background-color: white;
    display: flex;
}
.second-line div img{
    padding-left: 40px;
}
.second-line div ul li{
    text-decoration: none;
    display: inline;
    padding: 10px;
}
.sec-last-div{
    text-align: center;
    margin-left: 40%;
}
.sec-last-div ul li{
    font-weight: 800;
}
.third-line{
    padding-left: 10%;
    margin-bottom: 300px;
}
.head{
    padding-left: 10px;
    font-size: 3em;
    margin-bottom: -30px;
    font-weight: 900;
    margin-top: 60px;
}

.third-line div ul{
    margin-top: 70px;
}
.text{
    font-size: 30px;
    font-weight: 900;
}
.third-line div ul li{
    padding-top: 10px;
}
.second-sec div{
    background-color: red;
    width: 40%;
    height: auto;
    text-align: center;
    padding: 40px 25%;
    margin-top: 50px;
    padding-bottom: 40px;
    padding-top: 10px;
    border-radius: 20px;
}
.second-sec{
    margin-left: 10%;
}
.second-sec h1{
    font-weight: 900;
    font-size: 3em;
    color: white;
}
.second-sec p{
    font-size: 1.5em;
    color: white;
}
.second-sec button{
    font-size: 25px;
    padding: 20px 80px;
    border-radius: 50px;
    background-color: #00008B;
    color: white;
}
#one{
    background-image: url(image/1bg.jpg);
    background-position: bottom;
}
#two{
    background-image: url(image/four.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1100px 400px;
}
#three{
    background-image: url(image/three.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1100px 430px;
}